.App {
  text-align: center;
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.DP{
  margin-top:50px;
  width:400px;
  height:auto;
  border-radius:35%;
  overflow:hidden;
}
.DPimage{
  max-width:100%;
  max-height:100%;
}
.window{
  width:60%;
  height:max-content;
  display:flex;
  align-items: center;
  flex-direction: column;
}
.profileName{
  font-size:48px;
  font-weight:500;
  padding: 30px;
}
.collegeName{
  font-size:18px;
  padding: 5px;
}
.socialIcon{
  margin-top:10px;
  margin-bottom:10px;
  display: flex;
  width:70px;
  justify-content: space-between;
}
.linkedin{
  width:30px;
  height:30px;
  transition: 0.2s;
}
.linkedin>img:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.linkedin>img{
  transition: 0.2s;
  max-width:100%;
  max-height:100%;
}

.mail{
  transition: 0.2s;
  width:30px;
  height:30px;

}
.mail>img:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.mail>img{
  transition: 0.2s;
  max-width:100%;
  max-height:100%;
}
.buttonBox{
  width:50%;
  height:65px;
  margin:5px;
}
.buttonBox>button:hover{
  background-color:rgb(59, 59, 59);
}
.CVbutton{
  background-color:black;
  width:100%;
  height:100%;
  border:none;
  border-radius:10px;
  color:white;
}
.contactbutton{
  background-color:black;
  width:100%;
  height:100%;
  border:none;
  color:white;
  border-radius:10px;
}
.details{
  width:100%;
  height:max-content;
  background:linear-gradient(0deg,rgb(5,125,158) 0%,rgb(250,250,250) 100%);
}

